.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}

.add-patient-form {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 1200px;
    /* Adjust as needed */
    box-sizing: border-box;
    margin: 0 auto;
}

.add-patient-form h2 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

.add-patient-form form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.add-patient-form form h2 {
    grid-column: span 2;
    /* Make the heading span across both columns */
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

.add-patient-form label {
    margin-top: 10px;
    color: #555;
}

.add-patient-form .gender-group {
    display: flex;
    align-items: center;
    margin-top: 5px;
}

.add-patient-form input[type="text"],
.add-patient-form input[type="date"],
.add-patient-form input[type="tel"] {
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box;
}

.add-patient-form input[type="radio"] {
    margin-right: 5px;
}

.add-patient-form .full-width {
    grid-column: span 2;
}

.add-patient-form button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    grid-column: span 2;
    justify-self: center;
    width: 150px;
    /* Smaller width for the button */
}

.add-patient-form button:hover {
    background-color: #0056b3;
}